<div class="full-screen-container">
    <div class="countdown-container" cdkDrag>
        <span class="countdown-label">Aventurine will be mine in:</span>
        <span class="countdown-value">{{ countdown }}</span>
        <div class="final-date">{{ finalDate }}</div>
    </div>
  
    
    <!-- add img hypnotic-circles\src\assets\img\aven.png -->
    <img src="assets/img/aven.png" alt="Aventurine" class="aven-image" height="300px" cdkDrag cdkResizable>
    <img src="assets/img/image-asset (1).gif" alt="Aventurine" class="aven-image" height="200px" cdkDrag>
    <img src="assets/img/Tech+Crop.gif" alt="Aventurine" class="aven-image" height="200px" cdkDrag>
    <img src="assets/img/tenor.gif" alt="Aventurine" class="aven-image" height="200px" cdkDrag>
    <img src="assets/img/uer545ro5tec1.gif" alt="Aventurine" class="aven-image" height="300px" cdkDrag>
    <img src="assets/img/ULT+crop.gif" alt="Aventurine" class="aven-image" height="300px" cdkDrag>
    <img src="assets/img/silver_wolf.gif" alt="Aventurine" class="aven-image" height="200px" cdkDrag>
    
    <img src="assets/img/summoning_circle.webp" alt="Aventurine" class="aven-image" height="300px" cdkDrag>
    <img src="assets/img/circle.gif" alt="Aventurine" class="aven-image circle" height="100px" cdkDrag>


    
</div>
