.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .one {
    background-color: magenta;
    z-index: 0;
  }
  
  .two {
    background-color: #a832ed; /* Purple color */
    z-index: 0;
  }
  
  .three {
    background-color: cyan;
    z-index: 1;
  }
  