*{
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: black; /* Remove background */
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.one {
  background-color: magenta;
}

.two {
  background-color: #a832ed; /* Purple color */
}

.three {
  background-color: cyan;
}